<ul class="top_bar" >
    <li <% if (active === "new_entries") { %> class="active" <% } %> ><a href="/admin/new-entries">New Entries</a></li>
    <li <% if (active === "new-meanings") { %> class="active" <% } %> ><a href="/admin/new-meanings">New Meanings</a></li>
    <li <% if (active === "edits") { %> class="active" <% } %> ><a href="/admin/edits">Edits</a></li>
</ul>
