<div class="footer-container item-center w100">
  <div class="footer-box">
    <p>Developed by <span><a href="https://instagram.com/rashid.machingal">Rashid Machingal</a></span></p>
    <div class="social-icons item-center" >
       <a href="https://instagram.com/rashid.machingal" target="_blank" >
        <i class="fa-brands fa-instagram"></i>
      </a>
       <a href="https://github.com/rashidmachingal" target="_blank" >
        <i class="fa-brands fa-github"></i>
      </a>
       <a href="https://www.linkedin.com/in/rashid-machingal/" target="_blank" >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <div class="footer-links">
       <a href="/" >Home</a>
       <a href="/what-is-mallu-nighandu" >About</a>
       <a href="/contact" >Contact</a>
    </div>
  </div>
</div>