<nav class="navbar-container w100 item-center" >
    <div class="fake" ></div>
    <div class="navbar-logo" >
      <a href="/" >
        <img src="/img/palunku-nighandu-logo.webp" alt="mallu nighandu logo" />
      </a>
    </div>

    <a href="/account/login" class="login item-center" >
      <i class="fa-regular fa-user"></i>
      <button >ലോഗിൻ</button>
    </a>

    <div class="account-menu item-center" >
      <div class="item-center box" id="account_menu" >
        <img src="/img/avatar.png" alt="">
        <i class="fa-sharp fa-solid fa-bars"></i>
      </div>

      <div class="dropdown" id="dropdown" >
        <div>
          <i class="fas fa-user"></i>
          <h4>Dashboard</h4>
        </div>
        <div>
          <i class="fa-solid fa-gear"></i>
          <h4>Settings</h4>
        </div>
        <div onclick="handleLogout()" >
          <i class="fas fa-sign-out-alt"></i>
          <h4>Logout</h4>
        </div>
      </div>
      <!-- <h4 id="display_name" ></h4> -->
    </div>

</nav>