<nav class="navbar-container w100 item-center" >
    <div class="fake" ></div>
    <div class="navbar-logo" >
      <a href="/" >
        <img src="/img/palunku-nighandu-logo.webp" alt="mallu nighandu logo" />
      </a>
    </div>
    <div class="login item-center" >
      <i class="fa-regular fa-user"></i>
      <a href="/account/login"><button >ലോഗിൻ</button></a>
    </div>
</nav>