<div class="not-message mt-1" >
    <h3>ക്ഷമിക്കുക</h3>
    <p>നിങ്ങള്‍ അന്വേഷിച്ച <%= english_word %> എന്ന പദത്തിന്റെ അർഥം കണ്ടെത്താനായില്ല. സാധ്യമെങ്കില്‍, ദയവായി നിഘണ്ടുവില്‍ ചേര്‍ക്കുക.</p>
    <button onclick="location.href = '/add-new-word' " class="mt-1" ><%= english_word %> നിഘണ്ടുവിൽ ചേർക്കുക </button>
</div>