<div class="search-container" >
 <div class="search-main" id="search_container" >
  <div class="main-search">
    <form autocomplete="off" >
      <input placeholder="search word" id="search" type="search" />
    </form>
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>

  <div class="search-suggetion" id="suggestion" >
    <ul id="suggestion_list" ></ul>
</div>
</div>  
</div>