<div class="searchContainer" >
  <div class="mainSearch">
    <form>
      <input placeholder="search word" />
    </form>
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
    
  <!-- <div className="searchSuggetion">
    <ul>
      <li></li>
    </ul>
  </div> -->
</div>