/* top bar start */
.top_bar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    list-style: none;
}

.top_bar li a{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.top_bar li a:hover{
    background: #e4e4e4;
    color: #000000!important;
}

.active a{
    background: #e4e4e4;
    color: #151414!important;
}
/* top bar end */

/* dashboard start */
.welcome{
    color: black;
    font-weight: 600;
}
/* dashboard end */

/* pending start */
.pending{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.pending p{
    font-size: 14px;
}

.eng{
    font-weight: 800;
    color: #3767c0;
    text-decoration: none;
}

.mal{
    font-weight: 800;
    /* text-decoration: underline wavy; */
    color: green;
}

.rved{
    font-weight: 800;
    text-decoration: line-through;
    color: red;
}

.list-items{
    padding-left: 1rem;
}

.list-items li{
    font-size: 13px;
    color: #4abc4a;
}

.dot{
    font-size: 6px;
}
/* pending end */

/* admin start */
.adm-new{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.adm-new p{
    font-size: 14px;
}

.by-user{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.by-user img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.amd-hold{
    margin-top: -10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ok{
    border: none;
    background: #e6faf5;
    border-color: #e0f1e9;
    color: #1d9d74;
    width: 3rem;
    border-radius: 5px;
}

.reject{
    border: none;
    background: #fde6e6;
    border-color: #e0f1e9;
    color: #b93939;
    width: 3rem;
    border-radius: 5px;
}
/* admin end */