:root {
  --primary-color: #2b3d4e34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Malayalam', sans-serif;
}

/* common styles start */
.w100{
  width: 100%;
}
.w98{
  width: 98%!important;
}
.w80{
  width: 80%!important;
}
.mt-1{
  margin-top: 1rem;
}

.pb-1{
 bottom: 0.6rem;
}

.title h2{
  font-weight: 500;
  font-size: 20.6px;
}

.item-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* common styles end */

/* navbar stat */
.navbar-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo img {
  width: 340px;
  height: 73px;
}

@media (max-width:350px) {
  .navbar-logo img{
    width: 300px;
  }
}
/* navbar end */

/* footer start */
.footer-container {
  height: 6rem;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.footer-box a {
  text-decoration: none;
  color: black;
}

.footer-links {
  display: flex;
  gap: 0.4rem;
  font-size: 14px;
}

.social-icons {
  gap: 0.6rem;
}

.social-icons svg {
  cursor: pointer;
}

.footer-container span {
  font-weight: 600;
}
/* footer end */

/* main grey box start */
.main-box {
  width: 40rem;
  min-height: 10rem;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 2.5rem;
}

@media (max-width:700px) {
  .main-box{
    width: 95%;
  }
}
/* main grey box end */

/* main search start */
.search-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-main{
  width: 60%;
}

.main-search {
  margin-top: 1.4rem;
  width: 100%;
  height: 2.5rem;
  display: flex;
  background: white;
  padding-left: 8px;
}

.main-search form {
  width: 95%;
}

.main-search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 0px;
  background: none;
  text-transform: lowercase;
  font-weight: 400;
}

.main-search div{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8e8e8ed7;
    cursor: pointer;
}

.main-search i{
    color: white;
}

@media (max-width:700px) {
  .search-main{
    width: 100%;
  }
  .main-search div{
    width: 15%;
  }
}
/* main search end */

/* search suggetion start */
.search-suggetion {
  position: absolute;
  margin-top: 2px;
  width: 24rem;
  height: auto;
  background: white;
  box-shadow: 0px 0px 5px 1px #00000026;
  z-index: 3;
  display: none;
}

.search-suggetion li {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.search-suggetion li:hover {
  background: whitesmoke;
  cursor: pointer;
}
/* search suggetion end */

/* content start */
.content-box {
  background: white !important;
}

.content-box a {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.829);
  cursor: pointer;
  text-decoration: none;
}

.content-box h1 {
  font-weight: 500;
  font-size: 25px;
}

@media (max-width: 680px) {
  .content-box {
    width: 96%;
    height: 100%;
  }
  .content-box h1{
    font-size: 20px;
  }
}
/* content end */

/* round loading start */
.loading {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  animation: loading 0.7s linear infinite;
  border: 3px solid #000000a6;
  border-right: 3px solid transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* round loading end */
