:root {
  --primary-color: #2b3d4e34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Malayalam', sans-serif;
}

/* common styles start */
button{
  cursor: pointer;
}

.w100{
  width: 100%;
}

.w98{
  width: 98%!important;
}
.w80{
  width: 80%!important;
}

.mt-1{
  margin-top: 1rem;
}

.pb-1{
  padding-bottom: 1rem;
}

.pl-1{
  padding-left: 1rem;
}

.font-bold{
  font-weight: 500;
}

.title h2{
  font-weight: 500;
  font-size: 20.6px;
}

.item-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.error-message{
  text-align: center;
  padding: 10px;
  color: #D8000C;
  background-color: #FFBABA;
  display: none;
}
/* common styles end */

/* navbar stat */
.navbar-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.fake{
  width: 200px;
}

.navbar-logo img {
  width: 340px;
  height: 73px;
}

.login{
  width: 10rem;
  width: 8rem;
  height: 2rem;
  gap: 10px;
  border: none;
  background: whitesmoke;
  margin-right: 1.4rem;
  cursor: pointer;
  text-decoration: none;
}

.login i{
  color: black;
}

.login  button{
  border: none;
  background: transparent;
}

.account-menu{
  width: 8rem;
  position: relative;
  display: none;
}

.account-menu .box{
  width: 5rem;
  height: 2.5rem;
  background: whitesmoke;
  margin-right: 1.4rem;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.account-menu img{
  border-radius: 50%;
}

.account-menu .dropdown{
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 180px;
  background: white;
  box-shadow: 0 0 3px 1px #00000011;
  display: none;
}

.account-menu .dropdown div, .account-menu .dropdown a{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}

.account-menu .dropdown div:hover, .account-menu .dropdown a:hover{
  background: whitesmoke;
}

.account-menu .dropdown h4{
  font-weight: 400;
  color: grey;
  font-size: 15px;
}

.account-menu .dropdown i{
  color: grey;
  font-size: 14px;
}

@media (max-width:800px) {
  .fake{
    display: none;
  }
  .navbar-container{
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
    gap: 0;
  }
  .login{
    margin-right: 0;
  }
}

@media (max-width:350px) {
  .navbar-logo img{
    width: 300px;
  }
}
/* navbar end */

/* footer start */
.footer-container {
  height: 6rem;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.footer-box a {
  text-decoration: none;
  color: black;
}

.footer-links {
  display: flex;
  gap: 0.4rem;
  font-size: 14px;
}

.social-icons {
  gap: 0.6rem;
}

.social-icons svg {
  cursor: pointer;
}

.footer-container span {
  font-weight: 600;
}
/* footer end */

/* main grey box start */
.main-box {
  width: 40rem;
  min-height: 10rem;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 2.5rem;
}

@media (max-width:700px) {
  .main-box{
    width: 95%;
  }
}
/* main grey box end */

/* main search start */
.search-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-main{
  width: 60%;
  position: relative;
}

.main-search {
  margin-top: 1.4rem;
  width: 100%;
  height: 2.5rem;
  display: flex;
  background: white;
  padding-left: 8px;
}

.main-search form {
  width: 95%;
}

.main-search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 0px;
  padding-right: 5px;
  background: none;
  text-transform: lowercase;
  font-weight: 400;
}

.main-search div{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8e8e8ed7;
    cursor: pointer;
}

.main-search i{
    color: white;
}

@media (max-width:700px) {
  .search-main{
    width: 100%;
  }
  .main-search div{
    width: 15%;
  }
}
/* main search end */

/* search suggetion start */
.search-suggetion {
  position: absolute;
  margin-top: 2px;
  width: 100%;
  height: auto;
  background: white;
  box-shadow: 0px 0px 5px 1px #00000026;
  z-index: 3;
  display: none;
}

.search-suggetion li {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.search-suggetion li:hover {
  background: whitesmoke;
}

.search-suggetion a{
  text-decoration: none;
  color: black;
}
/* search suggetion end */

/* content start */
.content-box {
  background: white !important;
}

.content-box a {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.829);
  cursor: pointer;
  text-decoration: none;
}

.content-box h1 {
  font-weight: 500;
  font-size: 25px;
}

@media (max-width: 680px) {
  .content-box {
    width: 96%;
    height: 100%;
  }
  .content-box h1{
    font-size: 20px;
  }
}
/* content end */

/* form start */
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.form-group{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;
}

.form-group input{
  width: 100%;
  height: 2.6rem;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  padding-left: 6px;
  background: white;
}

.form-group textarea{
  resize: vertical;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  padding-left: 6px;
  padding-top: 0.6rem;
  background: white;
}

.form-group a{
  text-decoration: none;
  color: red;
}

.form-group button{
  width: 100%;
  height: 2.6rem;
  border: none;
  cursor: pointer;
  background: #000000ba;
  color: white;
}

.form-group button:disabled{
  cursor: progress;
}

.form-group select{
  width: 100%;
  height: 2.6rem;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  background: white;
}

.form-group span{
  font-size: 12px;
  color: red;
}

@media (max-width: 680px) {
  .form-group{
   width: 95%;
  }
 }
/* form end */

/* notice board start */
.notice-board{
  width: 38rem;
  padding: 10px;
  background: #f1f9f7;
  border-color: #e0f1e9;
  color: #1d9d74;
  text-align: center;
}

@media (max-width:600px) {
  .notice-board{
    width: 100%;
  }
}
/* notice board end */