.home-image img {
  width: 140px;
  height: 130px;
}

.home-titles h2 {
  font-weight: 300;
  font-size: 20px;
}

.home-add-word {
  margin-top: 2.4rem;
}

@media (max-width: 680px) {
  .home-search {
    width: 82%;
  }
  .search-container {
    width: 82%;
  }
  .search-suggetion {
    width: 63.6%;
  }
  .home-box {
    width: 95%;
  }
}

@media (max-width: 416px) {
  .home-search {
    width: 93%;
  }
  .search-suggetion {
    width: 71.6%;
  }
}