<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Palunk Nighandu</title>
    <meta name="description" content="Login page of Palunk Nighandu" />
    <!-- custom css  -->
    <!-- custom javascript -->
    <script src="/js/user/auth.js" defer ></script>
    <script src="/js/utils/utils.js" defer ></script>
    <!-- header imports -->
    <%- include('../partials/header') %>
</head>
<body>

    <!-- navbar -->
    <%- include('../partials/navbar') %>
    <!-- navbar -->

    <div class="w100 item-center" >
       <div class="main-box" >
          <div class="title mt_1" >
            <h2>ലോഗിൻ ചെയ്യുക</h2>
          </div>

          <div id="user_name" style="display: none;" ></div>
          <div id="register_form" style="display: none;" ></div>

          <form id="login_form" autoComplete="on" class="form mt-1" >
            <div class="form-group" >
                <label>ഇ-മെയിൽ വിലാസം</label>
                <input id="email" name="email" type="text" placeholder="Enter Your Email" />
                <span></span>
            </div>
            <div class="form-group" >
                <label>രഹസ്യവാക്ക്</label>
                <input id="password" name="password" type="password" placeholder="Enter Password" />
                <span></span>
            </div>
            <div class="form-group" >
              <button type="submit" id="auth_submit_btn"  >പ്രവേശിക്കുക</button>
            </div>

            <div class="form-group" >
              <a href="/account/register">പുതിയ അക്കൗണ്ട് ഉണ്ടാക്കുക?</a>
            </div>
          </form>

            <%# show login fail message start %>
            <div class="auth-error-message mt-1 error-message" ></div>
            <%# show login fail message end %>

       </div>
    </div>

    <!-- footer  -->
      <%- include('../partials/footer') %>
    <!-- footer  -->

</body>
</html>