<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register to Palunk Nighandu</title>
    <meta name="description" content="Register page of Palunk Nighandu" />
    <!-- custom css  -->
    <!-- custom javascript -->
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js" defer ></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-storage.js" defer ></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js" defer ></script>
    <script src="/js/user/auth.js" defer ></script>
    <script src="/js/user/firebase-config.js" defer ></script>
    <script src="/js/user/image-upload.js" defer ></script>
    <script src="/js/utils/utils.js" defer ></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.977.0.min.js"></script>
    <!-- header imports -->
    <%- include('../partials/header') %>
</head>
<body>

    <!-- navbar -->
    <%- include('../partials/navbar') %>
    <!-- navbar -->

    <div class="w100 item-center" >
       <div class="main-box" >
          <div class="title mt_1" >
            <h2>അക്കൗണ്ട് ഉണ്ടാക്കുക</h2>
          </div>
          <div style="display: none;" id="login_form" ></div>
          <form id="register_form" autoComplete="on" class="form mt-1" >
            <div class="form-group" >
              <label>താങ്കളുടെ നാമം</label>
              <input  id="user_name" name="user_name" type="text" placeholder="Enter Your Name" />
              <span></span>
          </div>
            <div class="form-group" >
                <label>ഇ-മെയിൽ വിലാസം</label>
                <input id="email" name="email" type="email" placeholder="Enter Your Email" />
                <span></span>
            </div>
            <div class="form-group" >
                <label>രഹസ്യവാക്ക്</label>
                <input id="password" name="password" type="password" placeholder="Enter Password" />
                <span></span>
            </div>
            <div class="form-group" >
                <label>പ്രൊഫൈൽ ചിത്രം</label>
                <input id="profile_picture" name="profile_picture" type="file" />
                <span></span>
            </div>

            <div class="profile-preivew" >
              <img id="profile_preivew" src="" >
            </div>

            <div class="form-group" >
              <button type="submit" id="auth_submit_btn" accept="image/*"  >അക്കൗണ്ട് ഉണ്ടാക്കുക</button>
            </div>

            <div class="form-group" >
              <a href="/account/login">ലോഗിൻ ചെയ്യുക?</a>
            </div>
          </form>

          <%# show register fail message start %>
          <div class="auth_submit_btn mt-1" ></div>
          <%# show register fail message end %>

       </div>
    </div>

    <!-- footer  -->
      <%- include('../partials/footer') %>
    <!-- footer  -->

</body>
</html>