<ul class="top_bar" >
    <li <% if (active === "dashboard") { %> class="active" <% } %> ><a href="/account/dashboard">Dashboard</a></li>
    <li <% if (active === "pending") { %> class="active" <% } %> ><a href="/account/pending">Pending</a></li>
    <li <% if (active === "contributions") { %> class="active" <% } %> ><a href="/account/contributions">Contributions</a></li>
</ul>
