<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contribute or add new word in palunk nighandu</title>
    <!-- custom css  -->
    <link rel="stylesheet" href="/css/addnew.css">
    <!-- custom javascript -->
    <script src="/js/word.js" defer ></script>
    <!-- header imports -->
    <%- include('../partials/header') %>
</head>
<body>

    <!-- navbar -->
    <%- include('../partials/navbar') %>
    <!-- navbar -->

    <div class="w100 item-center" >
       <div class="main-box" >
          <div class="title mt_1" >
            <h2>പുതിയ ഒരു പദം ചേര്‍ക്കുക</h2>
          </div>

          <div class="add-notice mt-1" >
            <p>പളുങ്ക് നിഘണ്ടുവിന്റെ ഭാഗമാവാൻ ലോഗിൻ ചെയ്യൽ നിർബന്ധമല്ല ലോഗിൻ ചെയ്താൽ മറ്റു ഉപയോഗങ്ങളോടൊപ്പം താങ്കളുടെ സംഭാവനകൾ ആ പേരിൽ അംഗീകരിക്കപ്പെടുന്നതാണ്.</p>
          </div>

          <form id="add_new_word" autoComplete="off" class="form mt-1" >
            <div class="form-group" >
              <label>ഇംഗ്ലീഷ് പദം</label>
              <input id="english_word" placeholder="English Word" type="text" />
              <span></span>
            </div>

            <div class="form-group" >
                <label>രൂപം</label>
                <select id="part_of_speech" >
                    <option value="-" >-</option>
                    <option value="noun" >noun</option>
                    <option value="noun" >noun</option>
                    <option value="verb" >verb</option>
                    <option value="adjective" >adjective</option>
                    <option value="adverb" >adverb</option>
                    <option value="proper noun" >proper noun</option>
                    <option value="phrasal verb" >phrasal verb</option>
                    <option value="conjunction" >conjunction</option>
                    <option value="interjection" >interjection</option>
                    <option value="preposition" >preposition</option>
                    <option value="prefix" >prefix</option>
                    <option value="idiom" >idiom</option>
                    <option value="abbreviation" >abbreviation</option>
                    <option value="auxiliary verb" >auxiliary verb</option>
                </select>
            </div>
                    
            <div class="form-group" >
                <label>മലയാള വ്യാഖ്യാനം</label>
                <input id="malayalam_meaning" type="text" placeholder="Malayalam Meaning" />
                <span></span>
                <div id="add_new_meaning" >+</div>
            </div>
            

            <div class="error-message" id="error_message" >
             <span></span>
            </div>

            <div class="add-preview" >

            </div>
            <div class="form-group" >
              <button type="submit" >PUBLISH</button>
            </div>
          </form>
       </div>
    </div>

    <!-- footer  -->
      <%- include('../partials/footer') %>
    <!-- footer  -->

</body>
</html>