<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palunk Nighandu - English-to-Malayalam online dictionary</title>
    <meta name="description" content="Palunk Nighandu is an english-to-malayalam dictionary web app that empowers users to contribute." />
	  <meta name="keywords" content="english to malayalam dictionary, ഇംഗ്ലീഷ്-മലയാളം നിഘണ്ടു" />
    <!-- custom css  -->
    <link rel="stylesheet" href="css/home.css">
    <!-- custom javascript -->
    <script src="/js/search/search.js" defer ></script>
    <!-- header imports -->
    <%- include('../partials/header') %>
</head>
<body>

    <!-- navbar -->
    <%- include('../partials/navbar') %>
    <!-- navbar -->

    <div class="w100 item-center" >
       <div class="main-box" >
            <div class="home-image mt-1" >
              <img src="/img/hero.png" alt="" />
            </div>
            <div class="home-titles mt-1" >
              <h2>ഇംഗ്ലീഷ്  - മലയാളം നിഘണ്ടു</h2>
            </div>
            <!-- search  -->
            <%- include('../partials/search', {english_word: ""}) %>
            <!-- search  -->
            <div class="home-add-word item-center" >
                <a href="/add-new-word">
                  <button>പുതിയ ഒരു പദം ചേര്‍ക്കുക</button>
                </a>
            </div>
       </div>
    </div>

    <div class="w100 item-center mt-1" >
      <div class="notice-board" >
        ഇതൊരു പുതിയ വെബ്സൈറ്റ് ആയതിനാൽ കുറച് വാക്കുകളുടെ അർഥം മാത്രം ലഭിക്കുകയുള്ളു. നിങ്ങൾക്കും പുതിയ വാക്കുകൾ ചേർക്കാനാവും.
      </div>
    </div>

    <div class="w100 item-center mt-1" >
        <div class="main-box content-box" >
          <h1>What is Palunk Nighandu?</h1>
          <p style="margin-top: 0.6rem;" >
            Palunk Nighandu is an English-to-Malayalam dictionary web application that empowers users to contribute by updating word meanings and adding new entries.
            <a href="/what-is-mallu-nighandu" >Read More...</a>
          </p>
        </div>
    </div>

    <!-- footer  -->
      <%- include('../partials/footer') %>
    <!-- footer  -->

</body>
</html>