<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What is Palunk Nighandu?</title>
    <meta name="description" content="What is palunk nighandu?" />
    <!-- header imports -->
    <%- include('../partials/header') %>
</head>
<body>

    <!-- navbar -->
    <%- include('../partials/navbar') %>
    <!-- navbar -->

    <div class="w100 item-center" >
       <div class="main-box" >
            <div class="w100 about" >
                <h1>What is Palunk Nighandu?</h1>
                <div>
                    <img src="https://avatars.githubusercontent.com/u/90792555?s=48&v=4">
                    <h5><span>by</span> Rashid Machingal</h5>
                </div>
                <div class="mt-1" >
                    <p>
                     Palunk Nighandu is a fresh English-to-Malayalam dictionary 
                     web application. Created with the vision of empowering language
                     enthusiasts, learners, and native speakers.
                    </p>

                    <p>
                     Palunk Nighandu operates on the principles of crowdsourcing, 
                     allowing users to actively participate in updating word meanings, 
                     adding new entries, and enhancing the quality of translations.
                    </p>

                    <p>
                     As a fresh platform, the dictionary may not yet have an extensive
                     database of word meanings. However, this is where the beauty 
                     of crowdsourcing comes into play. Palunk Nighandu invites you
                     to join in its exciting journey of building a comprehensive
                     Malayalam dictionary.
                    </p>

                    <p>
                     Also, Palunk Nighandu is an open-source program, 
                     welcoming contributions
                     from programmers through GitHub.
                    </p>
                </div>
            </div>
       </div>
    </div>

    <!-- footer  -->
      <%- include('../partials/footer') %>
    <!-- footer  -->

</body>
</html>